@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-text-primary antialiased;
  }

  input:focus-visible,
  textarea:focus-visible,
  button:focus-visible,
  select:focus-visible {
    @apply ring-2 ring-accent ring-offset-0 outline-none;
  }
}
